<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
    <!-- For Android 12+ (API level 31 and above) -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MotorDiagnosticApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MotorDiagnostic"
        android:usesCleartextTraffic="false">
        
        <!-- Firebase Database persistence -->
        <meta-data
            android:name="firebase_database_url"
            android:value="https://motor-b1a63-default-rtdb.asia-southeast1.firebasedatabase.app" />
        
        <activity
            android:name=".presentation.ui.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".presentation.ui.authentication.LoginActivity"
            android:exported="false" />
            
        <activity
            android:name=".presentation.ui.authentication.RegisterActivity"
            android:exported="false" />
            
        <activity
            android:name=".presentation.ui.MainActivity"
            android:exported="false" />
            
    </application>

</manifest> 